@font-face {
  font-family: "GoS";
  src: url("Game Of Squids.ttf");
}
.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

body {
  color: rgb(180, 180, 180);
  background-image: url(PS5-background-image.png);
}

.titleColor {
  color: rgb(204, 204, 0);
}

h3:hover {
  color: rgb(12, 167, 113);
}

h3 {
  font-family: serif;
}

h1 {
  text-align: center;
  transform: scale(1);
  transition: transform 1s;
}
h1 {
  font-family: "GoS";
}
h1:hover {
  text-align: center;
  transform: scale(1.5);
  transition: 1.5s;
  color: rgb(252, 0, 0);
}

main {
  font-family: cursive;
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
  background-image: linear-gradient(rgba(30, 30, 30, 0.7), rgba(72, 2, 164, 0.7), rgba(68, 77, 4, 0.7));
}

footer {
  text-align: center !important;
  font-size: 15px;
}

a {
  text-decoration: none;
}
a {
  color: rgb(180, 100, 100);
}

.creatorName {
  font-size: 10px;
}

.formClass {
  border-style: solid;
  border-color: rgba(0, 147, 0, 0.8);
  padding: 10px;
  margin: 10px;
}

#emailSize {
  width: 100%;
}

p span {
  color: rgb(255, 166, 0);
}

#eleShad:hover {
  box-shadow: 2px 2px red;
  text-shadow: 1.5px 1.5px rgb(0, 0, 0);
  background-color: aquamarine;
}

p u {
  color: white;
}